<!DOCTYPE html>

<html>
    <head>

        <link rel = "stylesheet" href = "/css/styles.css" >

    </head>

    <body>
        <div class = "main-content"
        {{>header}}
        <p> This site was created by Andrew Mead. It suses data from mapbox.com and openweather.com. </p>
        <img class = "portrait" src="/img/cm.png">
        </div>
        {{>footer}}
    </body>


</html>
